.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
  padding: 8px;
}

.img-logo {
  width: 80px;
}

.title-container > ul {
  display: flex;
  list-style-type: none;
}

.title-container li {
  padding: 10px;
  font-size: 20px;
}

/* Card Container to make cards sit side by side */
.res-container {
  display: flex;
  flex-wrap: wrap;
}

/* Individual Restaurant Card styling */
.card {
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.card:hover {
  border: 1px solid black;
  cursor: pointer;
}

/* Restaurant Card Logo image */
.res-logo {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
