.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
  padding: 8px;
}

.img-logo {
  width: 80px;
}

.title-container > ul {
  display: flex;
  list-style-type: none;
}

.title-container li {
  padding: 10px;
  font-size: 20px;
}

.body {
  padding: 10px;
  width: 100%;
}

/* Card Container to make cards sit side by side and fill the screen */
.res-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

/* Individual Restaurant Card styling */
.card {
  padding: 5px;
  border: 1px solid transparent; /* Prevents size change on hover */
}

.card:hover {
  border-color: black; /* Changes color instead of adding border width */
  cursor: pointer;
}

/* Restaurant Card Logo image */
.res-logo {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
